/* Stilizare Sectiuni */

/* Sectiunea 1 */
main .hero-title {
    height: 40.2rem;
    display: flex;
    align-items: flex-start;
    margin-top: 10rem;
}

.image-content {
    position: absolute;
    background-color: var(--bg-dark);
    background-image: url('https://www.itschool.ro/_next/static/media/background-big.6f4ab9bf.svg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right bottom;
    background-attachment: fixed;
    width: 100vw;
    height: 43.75rem;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.image-content .image-layout {
    height: 43.75rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: min(1240px, 100vw - 20px);
    margin-right: auto;
    margin-left: auto;
    padding-left: var(--spacing-m);
    padding-right: var(--spacing-m);
}

.image-content .image-layout img {
    height: 80%;
}



.hero-title .hero-message {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.hero-message h1 {
    margin-top: 1.5rem;
    margin-bottom: var(--spacing-l);
}

.hero-message p {
    color: white;
    margin-bottom: 1.5rem;
}

.hero-message .sponsori {
    display: flex;
    gap: 2rem;
    margin-bottom: var(--spacing-l);
}

.sponsori img {
    height: 36px;
    width: auto;
}

.button-group {
    display: flex;
    gap: var(--spacing-normal);
}

.button-group a {
    font-size: var(--font-size-m);
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    transition: all ease-in-out 0.5s;
}

.button-group a:hover {
    opacity: 0.8;
}

/* Sectiunea 2 */
.second-section {
    background-color: white;
    padding: 96px 50px;
}

.second-section .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.second-section .title h2 {
    text-align: center;
}


/* Carousel */

.slider {
    width: min(100vw, 1200px);
    text-align: center;
    overflow: hidden;
    margin-top: 3rem;
    background: transparent;
}

.slides {
    display: flex;

    height: 550px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;



    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    /*
scroll-snap-points-x: repeat(300px);
scroll-snap-type: mandatory;
*/
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
    background: transparent;
}

.slides>div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: min(100vw, 1200px);
    margin-right: 50px;
    border-radius: 10px;
    background: transparent;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* .slides>div:target {
      transform: scale(0.8);
} */


.slider>a {
    display: inline-flex;
    width: 1.5rem;
    height: 0.25rem;
    background: var(--bg-primary);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 0.125rem;
    margin: 0 0 0.5rem 0;
    position: relative;
}

.slider>a:active {
    top: 1px;
}

.slider>a:focus {
    background: #000;
}

.course-set {
    display: flex;
    gap: var(--spacing-l);
    padding: var(--spacing-m) 0;
}

/* Stilizare Sectiuni Individuale */
main .second-section {
    position: relative;
    z-index: -1;
    margin-top: -11rem;
}

main .second-section::before {
    background-image: url('https://www.itschool.ro/_next/static/media/background.570f46a1.svg');
    background-repeat: no-repeat;
    background-position: center top;
    content: "";
    display: block;
    inset: 0px 0px 0px calc(-50vw + min(600px, 50vw - 3rem));
    width: 100vw;
    position: absolute;
    z-index: -2;
    background-size: auto;
}

main .second-section .call-action {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 3rem;
    padding: var(--spacing-m) 0;
}

main .second-section .sponsor-title {
    margin-top: var(--spacing-xl);
    margin-bottom: var(--spacing-l);
    margin-left: 3rem;
    text-align: center;
    width: 100%;
    color: var(--text-color-muted);
}

main .second-section .sponsor-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    -webkit-box-pack: center;
    justify-content: center;
}

main .second-section .sponsor-list .sponsor-item {
    flex-basis: 160px;
}

main .third-section {
    display: grid;
    gap: 0.8rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "subtitle subtitle . ."
        "title title . ."
        "description description poster poster"
        "programming programming poster poster"
        "web web poster poster"
        "graphics graphics devops devops"
        "skillup skillup test others";
    padding: 9.6rem 0px 0px;
}

main .third-section .subtitle {
    grid-area: subtitle / subtitle / subtitle / subtitle;
    text-transform: uppercase;
    color: rgba(25, 30, 48, 0.4);
    padding-bottom: 1.6rem;
    color: var(--text-color-muted)
}

main .third-section .title {
    grid-area: title / title / title / title;
    padding-bottom: 2.4rem;
}

main .third-section .description {
    grid-area: description / description / description / description;
    padding-bottom: 2.4rem;
}

.tech-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.tech-list .tech-icon {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    height: 64px;
    width: 64px;
    padding: var(--spacing-normal);
    border-radius: 50%;
    box-shadow: rgb(25 30 48 / 5%) 0px 10px 10px 0px;
    background-color: white;
}

.tech-list .tech-icon img {
    width: 100%;
}

main .third-section .programing {
    grid-area: programming / programming / programming / programming;
    padding-bottom: 3rem;
}

main .third-section .web {
    grid-area: web / web / web / web;
    padding-bottom: 3rem;
}

main .third-section .devops {
    grid-area: devops / devops / devops / devops;
    padding-bottom: 3rem;
}

main .third-section .test {
    grid-area: test / test / test / test;
    padding-bottom: 3rem;
}

main .third-section .graphics {
    grid-area: graphics / graphics / graphics / graphics;
    padding-bottom: 3rem;
}

main .third-section .skillup {
    grid-area: skillup / skillup / skillup / skillup;
    padding-bottom: 4.8rem;
}

main .third-section .others {
    grid-area: others / others / others / others;
    padding-bottom: 4.8rem;
}

main .third-section .poster {
    grid-area: poster / poster / poster / poster;
    padding-bottom: 4.8rem;
    position: relative;
}

main .third-section .poster img {
    display: block;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
}

main .fourth-section {
    display: block;
    padding: 9.6rem 0px;
    overflow: hidden;
}

main .fourth-section .eco-it-school {
    font-size: var(--font-size-default);
    font-weight: normal;
    line-height: 1.5;
    overflow-wrap: break-word;
    color: var(--text-color-muted);
}

main .fourth-section .spacer1 {
    width: 100%;
    height: var(--spacing-normal)
}

main .fourth-section .text-eco-it {
    display: flex;
    gap: 2.4rem;
}

main .fourth-section .text-eco-it>h2 {
    min-width: 36.25rem;
    font-weight: normal;
    line-height: 1.22;
    color: var(--bg-dark);
}

main .fourth-section .text-eco-it>p {
    font-size: var(--font-size-default);
    font-weight: normal;
    line-height: 1.5;
    overflow-wrap: break-word;
    color: var(--bg-dark);
}

main .fourth-section .spacer2 {
    width: 100%;
    height: 3rem;
}

main .fourth-section .pagination {
    display: flex;
    gap: var(--spacing-m);
    margin-top: 1.5rem;
    user-select: none;
}

main .fourth-section .pagination>svg {
    cursor: pointer;
}

main .fourth-section .pagination .pag-nr {
    font-size: var(--font-size-default);
    font-weight: normal;
    line-height: 1.5;
    overflow-wrap: break-word;
    color: var(--bg-dark);
}

main .fourth-section .spacer3 {
    width: 100%;
    height: 1.5rem;
}

main .fifth-section {
    position: relative;
    width: 100%;
    padding: 6rem 0px;
}

main .fifth-section::before {
    top: 0px;
    width: 100vw;
    left: var(--spacing-m);
    content: "";
    position: absolute;
    bottom: 0px;
    z-index: -1;
    display: block;
    background-color: rgba(202, 205, 193, 0.1);
}

main .fifth-section .wrapper {
    width: 100%;
    display: grid;
    gap: var(--spacing-l);
    grid-template-areas: "img subtitle""img title""img details""video video""itemstitle itemstitle""items items""partenerstitle partenerstitle""parteners parteners""button button";
    grid-template-columns: auto 1fr;
}

main .fifth-section .wrapper .subtitle {
    grid-area: subtitle;
    max-width: 100%;
    font-size: var(--font-size-default);
    font-weight: normal;
    line-height: 1.5;
    overflow-wrap: break-word;
    color: var(--text-color-dark);
}

main .fifth-section .wrapper .title {
    grid-area: title;
    margin-top: -1.406rem;
    max-width: 100%;
    font-size: var(--font-size-xl);
    font-weight: normal;
    line-height: 1.22;
    color: var(--text-color-dark);
}

main .fifth-section .wrapper .imagewrapper {
    grid-area: img;
    max-width: 36.25rem;
    align-self: end;
    margin-right: var(--spacing-l);
}

main .fifth-section .wrapper .imagewrapper img {
    display: block;
    max-width: 100%;
}

main .fifth-section .wrapper .details {
    grid-area: details;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 100%;
}

main .fifth-section .wrapper .details h3 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.25;
    color: var(--text-color-dark);
}

main .fifth-section .wrapper .details p {
    font-size: var(--font-size-default);
    font-weight: normal;
    line-height: 1.5;
    overflow-wrap: break-word;
    color: var(--text-color-dark);
}

main .fifth-section .wrapper .details a {
    color: inherit;
    text-decoration: none;
}

main .fifth-section .wrapper .details a .button {
    cursor: pointer;
    width: fit-content;
    padding: 0px var(--spacing-l);
    display: flex;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    border-radius: 1.5rem;
    min-width: 7.125rem;
    transition: all 0.25s ease-in 0s;
    border: 1px solid var(--bg-primary);
    color: var(--bg-primary);
    background-color: white;
}

main .fifth-section .wrapper .details a .button p {
    display: block;
    transition: all 0.25s ease-in 0s;
    padding: 0.5rem 0px;
    font-weight: normal;
    font-size: var(--font-size-default);
    color: var(--bg-primary);
    line-height: 1.5;
    overflow-wrap: break-word;
}

main .fifth-section .wrapper .video-wrapper {
    grid-area: video;
    max-width: 100%;
    aspect-ratio: 15 / 9;
    padding: 2rem;
    background-color: rgba(202, 205, 193, 0.1);
}

main .fifth-section .wrapper .video-wrapper>iframe {
    width: 100%;
    height: 100%;
    min-height: 26.25rem;
}

main .fifth-section .wrapper .itemstitle {
    grid-area: itemstitle;
    max-width: 100%;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.25;
    color: var(--text-color-dark);
}

main .subscribe {
    position: relative;
    margin: 0px;
    width: 100%;
    padding: 9.6rem 0px;
    display: flex;
    gap: 2.4rem;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

main .subscribe:before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -50vw;
    width: 150vw;
    z-index: -1;
    display: block;
    background-image: url('https://www.itschool.ro/images/greenish-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

main .subscribe div h2 {
    text-align: center;
    color: var(--text-color-white);
}

main .subscribe div p {
    text-align: center;
    color: var(--text-color-white);
}

main .subscribe .sub-container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

main .subscribe .sub-container .input-wrapper {
    position: relative;
    background-color: white;
    border-radius: 2rem;
    border: 1px solid rgba(25, 30, 48, 0.4);
    display: flex;
}

main .subscribe .sub-container .input-wrapper input {
    width: 30rem;
    border: 0px;
    outline: 0px;
    background-color: transparent;
    font-size: var(--font-size-default);
    padding: 0.5rem 6rem 0.5rem 1.5rem;
    color: rgb(25, 30, 48);
}

main .subscribe .sub-container .input-wrapper p {
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    padding: 0.4rem 1.2rem;
    border-radius: 2rem;
    background-color: rgb(0, 135, 104);
    color: white;
}